/* .overlay {
  display: flex;
  flex: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.error {
  margin: auto;
  text-align: center;
  position: absolute;
  flex: 1;
  top: 30%;
  left: 40%;
  right: 40%;
  width: 20%;
  z-index: 2;
} */
