git+https://github.com/mrvillage/discord.py2.git
asyncpg
beautifulsoup4
git+https://github.com/mrvillage/pnwkit-py.git
git+https://github.com/Rapptz/discord-ext-menus
python-dotenv
feedparser
cachetools
cryptography
jishaku==2.3.2

google-api-python-client
google-auth-httplib2
google-auth-oauthlib
