git+https://github.com/mrvillage/discord.py2.git
asyncpg
beautifulsoup4
git+https://github.com/mrvillage/pnwkit-py.git@92feae5dcac2313cccb58a33c40591c9b9096e14
git+https://github.com/Rapptz/discord-ext-menus
python-dotenv
feedparser
cachetools
cryptography
jishaku

google-api-python-client
google-auth-httplib2
google-auth-oauthlib
