git+git://github.com/mrvillage/quarrel.git
asyncpg==0.25.*
pnwkit-py==2.*
cryptography==36.0.*
attrs==21.4.*
feedparser==6.0.*
pytest==7.0.*
pytest-asyncio==0.18.*
pytest-cov==3.0.*

# might need
# cachetools
# beautifulsoup4
