name: Release

on:
  push:
    branches:
      - master
    paths:
      - "bot/**"

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: "Release update to server"
    steps:
      - uses: actions/checkout@v2

      - uses: mrvillage/github-action-ssh-docker-compose@master
        name: Docker-Compose Remote Deployment
        with:
          ssh_host: ${{ secrets.SSH_HOST }}
          ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY }}
          ssh_user: ${{ secrets.SSH_USER }}
